.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    border-style: solid;
    border-color: red;
}

.grid-item{
    border-color: grey;
    border-style: solid;
}