.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 30px);
    grid-template-rows: repeat(6, 30px);
    border-style: solid;
    border-color: red;
}

.grid-item{
    border-color: grey;
    border-style: solid;
}

.filled{
    border-style: solid;
    border-color: blue;
}

.empty{
    border-color: lightyellow;
}